
{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload Seat Planning Data</h1>
      <hr>

      <form action="/upload-data" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select Data File</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <pre>{{content}}</pre>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
